<div id="<%= dom_id author_subscriber %>">
  <p>
    <strong>Author:</strong>
    <%= author_subscriber.author_id %>
  </p>

  <p>
    <strong>Subscriber:</strong>
    <%= author_subscriber.subscriber_id %>
  </p>

</div>
