<h1>Editing author subscriber</h1>

<%= render "form", author_subscriber: @author_subscriber %>

<br>

<div>
  <%= link_to "Show this author subscriber", @author_subscriber %> |
  <%= link_to "Back to author subscribers", author_subscribers_path %>
</div>
