<h1>Editing author post</h1>

<%= render "form", author_post: @author_post %>

<br>

<div>
  <%= link_to "Show this author post", @author_post %> |
  <%= link_to "Back to author posts", author_posts_path %>
</div>
